@page "/"

@inherits IndexBase

@*@section SearchForm*@
@{
    @* The search query is in a form in the header. The search filters are bindings on this Razor page.
    @* Pass the Razor bindings back up to the header's search form. *@
    @if (this.PackageType != "any")
    {
        <input type="hidden" name="packageType" value="@this.PackageType" />
    }

    @if (this.Framework != "any")
    {
        <input type="hidden" name="framework" value="@this.Framework" />
    }

    @if (this.Prerelease != true)
    {
        <input type="hidden" name="prerelease" value="False" />
    }
}

<div class="search-options form-inline">
    <div class="form-group">
        <label>Package type:</label>

        <div class="search-dropdown">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="package-type" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @PackageTypes.GetValueOrDefault(this.PackageType, "Other")
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="package-type">
                    @foreach (var packageType in PackageTypes)
                    {
                        <li><a href="@SearchLink(packageType: packageType.Key, page: 1)">@packageType.Value</a></li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label>Framework:</label>

        <div class="search-dropdown">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="framework" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    @TargetFrameworks.GetValueOrDefault(this.Framework, "Other")
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="framework">
                    @foreach (var framework in TargetFrameworks)
                    {
                        @if (framework.Key.StartsWith("divider"))
                        {
                            <li role="separator" class="divider"></li>
                        }
                        else if (framework.Key.StartsWith("header"))
                        {
                            <li class="dropdown-header">@framework.Value</li>
                        }
                        else
                        {
                            <li><a href="@this.SearchLink(framework: framework.Key, page: 1)">@framework.Value</a></li>
                        }
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="form-group form-check">
        <label for="prerelease">Include prerelease:</label>

        <input
            type="checkbox"
            id="prerelease"
            @(this.Prerelease ? "checked='checked'" : "")
            onclick="window.location.href='@SearchLink(prerelease: !Model.Prerelease, page: 1)'" />
    </div>
</div>

@if (this.Packages.Count == 0)
{
    <div>
        <h2>Oops, nothing here...</h2>
        <p>
            It looks like there's no package here to see. Take a look below for useful links.
        </p>
        <p><a asp-page="/Upload">Upload a package</a></p>
        <p><a href="https://loic-sharma.github.io/BaGet/" target="_blank" rel="noopener noreferrer">NaGet documentation</a></p>
        <p><a href="https://github.com/loic-sharma/BaGet/issues" target="_blank" rel="noopener noreferrer">NaGet issues</a></p>
    </div>
}
else
{
    @foreach (var package in this.Packages)
    {
        <div class="row search-result">
            <div class="col-sm-1 hidden-xs hidden-sm">
                <img src="@package.IconUrl"
                     class="package-icon img-responsive"
                     onerror="this.src="images/default-package-icon-256x256.png"
                     alt="The package icon" />
            </div>
            <div class="col-sm-11">
                <div>
                    <a asp-page="Package"
                       asp-route-id="@package.PackageId"
                       asp-route-version="@package.Version"
                       class="package-title">
                        @package.PackageId
                    </a>
                    <span>by: @string.Join(" ", package.Authors)</span>
                </div>
                <ul class="info">
                    <li>
                        <span>
                            <i class="ms-Icon ms-Icon--Download"></i>
                            @package.TotalDownloads.ToMetric() total downloads
                        </span>
                    </li>
                    <li>
                        <span>
                            <i class="ms-Icon ms-Icon--Flag"></i>
                            Latest version: @package.Version
                        </span>
                    </li>
                    @if (package.Tags.Any())
                    {
                        <li>
                            <span class="tags">
                                <i class="ms-Icon ms-Icon--Tag"></i>
                                @string.Join(" ", package.Tags)
                            </span>
                        </li>
                    }
                </ul>
                <div>
                    @package.Description
                </div>
            </div>
        </div>
    }

    var showPreviousLink = this.PageIndex > 1;
    var showNextLink = this.Packages.Count >= IndexBase.ResultsPerPage;

    if (showPreviousLink || showNextLink)
    {
        <nav aria-label="Search page navigation">
            <ul class="pager">
                @if (showPreviousLink)
                {
                    <li><a href="@SearchLink(page:this.PageIndex - 1)">Previous</a></li>
                }

                @if (showNextLink)
                {
                    <li><a href="@SearchLink(page: this.PageIndex + 1)">Next</a></li>
                }
            </ul>
        </nav>
    }
}
